/* Add vendor libs */

@import '../../../node_modules/flexboxgrid/dist/flexboxgrid.min.css';
@import '../../../node_modules/normalize.css/normalize.css';
/* Add author styles */

@import 'variables';
@import 'base';
html,
body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}