.cf {
    background: url(https://i.imgur.com/28kORhU.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.fqwe{
    background: url(https://i.imgur.com/j8n9uYV.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.articlelefttext {
    min-height: 100vh;
}