.cf {
    background: url(https://i.imgur.com/NaG2dpH.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fqwe{
    background: url(https://i.imgur.com/iBvbcqc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.articlelefttext {
    min-height: 100vh;
}