/* header styles */
.dcc-header {
  &__branding {
    color: red;
  }

  &__nav-item {
    display: inline-block;
  }
}

.is-active1{
  font-weight: bolder;
  color: #19A68C;
}

.is-active2{
  font-weight: bolder;
  color: #F63D3A;
}
.is-active3{
  font-weight: bolder;
  color: #FDA543;
}
.is-active4{
  font-weight: bolder;
  color: #193B48;
}